h3 {
    font-style: italic;
    color : darkolivegreen
}

h5 {
    color: black
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    font-style: italic;
    color : darkblue
}

li {
    list-style: none;
}

.row {
    border-width: medium;
    border-color: lightblue;
    padding: 2%
}